<a href="https://colab.research.google.com/github/pyonan/Study-of-Loops-in-Python/blob/main/experiment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##While Loop

In [ ]:
# Print i as long as i is less than 6:
i=0
while i<6:
  print(i)
  i+=1

0
1
2
3
4
5

In [ ]:
# Print number from 1 to n
n=int(input('enter a number: '))
i=1
while i<=n:
  print(i)
  i+=1

enter a number: 10
1
2
3
4
5
6
7
8
9
10

In [ ]:
# factorial of a number
i=1
n=int(input('enter a number'))
fac=1
while i<=n:
  fac=fac*i
  i+=1
print(fac)

enter a number5
120

In [ ]:
#Fibonacci Series using while loop
a=0
b=1
n=int(input("Enter no. of iterations: "))
while n>0:
  c=a+b
  print(a)
  a=b
  b=c
  n-=1

Enter no. of iterations: 12
0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
#Reverse a number
a=int(input('Enter a number:'))
rev=0

while a>0:
  dig= a%10
  rev=rev*10+dig
  a//=10

print('Reversed number=', rev)

Enter a number:43
Reversed number= 34

In [9]:
num=int(input('Enter Value:'))
a=num
rev=0
while num>0:
  rev=rev * 10 + num % 10
  num=num//10
if rev==a:
  print("palindrome")
else:
  print("not palindrome")

Enter Value:12321
palindrome

In [10]:
#Count digits in a number
n=int(input('Enter a number'))
count=0
while n>0:
  count+=1
  n//=10
print(count)

Enter a number32746
5

###Break Statement

In [11]:
#exit loop when i = 3
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [12]:
# Search an element in a list
no=[2,4,6,8,0,12,14,16,18,20]
key=int(input('enter no. to search'))
i=0
while i<len(no):
  if no[i]==key:
    print('NO. FOUND AT',i)
    break
  i+=1

enter no. to search12
NO. FOUND AT 5

###Continue Statement

In [13]:
i=0
while i<11:
  if i==5:
    i+=1
    continue
  print(i)
  i+=1

0
1
2
3
4
6
7
8
9
10

In [14]:
i=1
while i<10:
  if i%2 ==0:
      i+=1
      continue
  print(i)
  i+=1

1
3
5
7
9

##For Loop

In [15]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [16]:
#Print even no. from 1 to 10 using range function
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [17]:
#sum of first N numbers
n=int(input("Enter a No.:"))
sum=0
for i in range((n+1)):
  sum+=i
print("The sum is ",sum)

Enter a No.:10
The sum is  55

In [ ]:
# to check if a number is armstrong
num=153
total=0
for digit in str(num):
  total+=int(digit)**len(str(num))

if total==num:
  print("Armstrong")
else:
  print("Not Armstrong")

Armstrong

In [ ]:
# print all prime numbers in range
for num in range(2,50):
  for i in range(2,num):
    if num%i==0:
      break
  else:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [18]:
#Nested Loop
for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [20]:
#Print Matrix
A=[[1,2,3],
   [4,5,6],
   [7,8,9]]
for i in range(3):
  for j in range(3):
    print(A[i][j], end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [22]:
#Multiplication of Matrix (Most Important)
A=[[1,2,3],[1,2,1],[7,4]]
B=[[0,1,2],[2,3,8],[4,5,7]]
Result=[[0,0,0],[0,0,0],[0,0,0]]

num_col=len(A[0])
num_rows=len(B)

if num_col==num_rows:
  for i in range(3):
    for j in range(3):
      for k in range(3):
        Result[i][j] += A[i][k] * B[k][j]
  print('Product:')
  for row in Result:
    print(row)
else:
  print('Matrices cant be multiplied')

IndexError: list index out of range

In [21]:
#Accept 3 digit number and print all possible combination
N=input('Enter 3 digit number:')
a=int(N[0])
b=int(N[1])
c=int(N[2])
d=[a,b,c]

for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if (d[i]!=d[j] and d[j]!=d[k] and d[k]!=d[i]):
        print(d[i],d[j],d[k])

Enter 3 digit number:345
3 4 5
3 5 4
4 3 5
4 5 3
5 3 4
5 4 3

In [ ]:
# print inverted triangle
n=5
for i in range(n):
  print(i*' ', (n-i)*' *')

  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
# print upright triangle
n=5
for i in range(n):
  for j in range(i):
    print(i*'*')

*
**
**
***
***
***
****
****
****
****

In [ ]:
n=5
for i in range(n):
  print((n-i)*' ', (i+1)*' *')

       *
      * *
     * * *
    * * * *
   * * * * *

In [ ]:
n=5
for i in range(n):
  print((n-i)*' ', (i+1)*'*')

      *
     **
    ***
   ****
  *****

In [ ]:
n=5
for i in range(n):
  print((i+1)*'*', (n-i)*' ')

*
**
***
****
*****

In [ ]:
n=5
for i in range(n):
  print(i*' ', (n-i)*' *')
for i in range(n):
  print((n-1-i)*' ', (i+1)*' *') # correct 2 stars

  * * * * *
   * * * *
    * * *
     * *
      *
      *
     * *
    * * *
   * * * *
  * * * * *

In [ ]:
# floyd series
n=5
count=1
for i in range(1,5):
  for j in range(1,i+1):
    print(count, end=' ')
    count+=1
  print()

1
2 3
4 5 6
7 8 9 10